.list{
    margin-top: 20px;
    
}
.list ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    width: 230px;
    border: 1px solid #ccc;
    float: left;
    height: 310px;
    margin-bottom: 10px;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px;
}
.item:hover{
    transform: translateY(-3px);
    box-shadow: rgb(39, 39, 39) 0 0px 13px;
}
.item img{
    width: 228px;
    height: 200px;
}
.item h3{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fh{
    color: red;
    font-size: 14px;
    
}
.fl{
    margin-right: 95px;
}
.fr{
    float: right;
}