<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/request.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/details.css">
    <script src="../js/api.js"></script>
    <script src="../js/fixedTop.js"></script>
    <script src="../js/backTop.js"></script>
</head>


<body>
    <header>
        <div class="top w">
            <img src="../assets/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="./login.html">登录</a>
                <a href="./register.html">注册</a>
                <a href="./shoppingCar.html" style="display: none;">购物车</a>
                <a href="javaScript:;" style="display: none;">退出登录</a>
            </h2>
        </div>
    </header>


    
    <!-- main开始 -->



    <main class="w">
       <!-- 返回 -->
         <div class="back">
                <---返回 
        </div>


        <!-- 放大镜 -->
        <div class="magnifier">
            <!-- <div class="small">
                <div class="mask">
                </div>
                <img src="../assets/images/d.jpg" alt="">
            </div>
            <div class="big">
                <img src="../assets/images/d.jpg" alt="">
            </div> -->
            <div class="title">
                <!-- <h3>xxxxxxx</h3>
                <p>￥99</p>
                <span>⭐⭐⭐⭐⭐ 5.0</span>
                <div class="addshopCar">
                    加入购物车
                </div> -->
            </div>
        </div>

         <ul class="tab">
            <!-- <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li> -->
        </ul>


        
    <!-- </main> --> 


    <!-- <footer class="w">
        <h2>相关商品列表</h2>
        <div class="related">
            <ul>
                <li class="related-item">
                    <img src="../assets/images/loading.jpg" alt="">
                    <h3>222222</h3>
                    <span class="fh">￥</span><span class="fh">59</span>
                    <span class="fr">一起拼</span>
                </li>
            </ul>
        </div>

    </footer> -->

    
</body>
<script src="../js/details.js"></script>

</html>