<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/Component.js"></script>

</head>

<body>
    <header>
        <div class="top w">
            <img src="../asssts/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="./login.html">登录</a>
                <a href="./register.html">注册</a>
                <a href="./shoppingCar.html" style="display: none;">购物车</a>
                <a href="javaScript:;" style="display: none;">退出登录</a>
            </h2>
        </div>
    </header>
    <!-- 头部结束 -->

    <!-- nav开始 -->
    <div class="w">
        <nav>
            <ul>
                <li>咖啡</li>
                <li>饮食</li>
                <li>正餐</li>
                <li>男装</li>
                <li>女装</li>
                <li>眼镜</li>
                <li>鞋靴</li>
            </ul>
        </nav>
    </div>

    <!-- 轮播图开始 -->
    <div class="banner w">
        <div class="swiper">
            <ul class="big">
                <li><img src="../asssts/images/a.jpg" alt=""></li>
                <li><img src="..//asssts/images/b.jpg" alt=""></li>
                <li><img src="../asssts/images/c.jpg" alt=""></li>
                <li><img src="../asssts/images/d.jpg" alt=""></li>
                <li><img src="../asssts/images/e.jpg" alt=""></li>
                <li><img src="../asssts/images/a.jpg" alt=""></li>
                <div class="left">
                    < </div>
                        <div class="right"> > </div>
                        <div class="sricle">
                            <span style="background-color: #FFF;"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            </ul>
        </div>
    </div>

    <!-- 列表盒子 -->

    <div class="list w">
        <ul>
            <!-- <li class="item">
                <img src="./asssts/images/logo.png" alt="">
                <h3>222222</h3>
                <span class="fh">￥</span><span class="fh">59</span>
                <span class="fr">一起拼</span>
            </li> -->
        </ul>
    </div>


    <!-- 回到顶部 -->
    <div class="backTop">
        回
    </div>


    <footer class="w">
        <img src="../asssts/images/footer.png" alt="">
    </footer>
</body>
<script src="../js/request.js"></script>
<script src="../js/index.js"></script>
<script src="../js/Component.js"></script>

</html>