<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <header>
        <div class="top w">
            <img src="../asssts/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="   请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="./login.html">登录</a>
                <a href="./register.html">注册</a>
            </h2>
        </div>
    </header>



    <div class="box"> 
        <input type="text" placeholder="  用户名"><br>
        <input type="text"><br>

        <div class="login">登录</div>
    </div>
</body>

</html>