<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/request.js"></script>
</head>

<body>
    <header>
        <div class="top w">
            <img src="../assets/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="   请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="./login.html">登录</a>
                <a href="./register.html">注册</a>
            </h2>
        </div>
    </header>



    <div class="box">
        <input type="text" placeholder="  用户名" value=''><br>
        <input type="password" placeholder="  密码" value=""><br>

        <div class="login">注册</div>
    </div>
</body>
<script>
    var u = document.querySelector('.box [type=text]')
    var p = document.querySelector('.box [type=password]')
    var login = document.querySelector('.login')

    login.addEventListener('click', function () {
        var reg=/^[0-9a-z_]{6,12}$/i;
        var reg1=/^[0-9a-z]{6,12}$/i;
        if(reg.test(u.value)&&reg1.test(p.value)){
        REQUEST.get('/register', { params: { username: u.value, password: p.value } }, function (data) {

            if (data.code == 1) {
                alert('注册成功')
                location.href = './login.html'
            } else {
                alert('注册失败')
            }
        })
    }else{
        alert('格式不对')
    }
    })
</script>

</html>