<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="../js/request.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/loading.js"></script>
    <script src="../js/backTop.js"></script>
    <script src="../js/fixedTop.js"></script>
    <script src="../js/search.js"></script>
</head>

<body>
    <div class="list w">
        <ul>

        </ul>
    </div>
</body>
<!-- <script>
    var btn=document.querySelector('button')
    btn.addEventListener('click',function(){
        loading()
        })
    fixedTop()
    backTop()
</script> -->
</html>
