<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/Component.js"></script>

</head>
<body>
    <header>
        <div class="top w">
            <img src="../asssts/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="./login.html">登录</a>
                <a href="./register.html">注册</a>
                <a href="./shoppingCar.html" style="display: none;">购物车</a>
                <a href="javaScript:;" style="display: none;">退出登录</a>
            </h2>
        </div>
    </header>
</body>
<script>
    a()
</script>
</html>