<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/Component.js"></script>
    <script src="../js/request.js"></script>
    <link rel="stylesheet" href="../css/shopingCar.css">
    <script src="../js/shopCar.js"></script>

</head>
<body>
    <header>
        <div class="top w">
            <img src="../assets/images/logo.png" alt="logo" class="logo">

            <div class="search">
                <input type="text" placeholder="请输入你想要的商品">
                <button>搜索</button>
            </div>
            <h2>
                <a href="./index.html">首页</a>
                <a href="javaScript:;" style="display: none;">登录</a>
                <a >购物车</a>
                <a href="javaScript:;" style="display: none;">注册</a>
                <a >退出登录</a>
            </h2>
        </div>
    </header>


    <div class="list w">
        <input type="checkbox" class="all">
        <span>全选</span>
        <span>商品信息</span>
        <span>单价</span>
        <span>数量</span>
        <span>金额</span>
        <span>操作</span>
    </div>

    <div class="box w">
        <!-- <div class="dp">
            <input type="checkbox">
            店铺：荣耀官方旗舰店
        </div>
        <div class="sp">
            <input type="checkbox">
            <img src="" alt="">
            <span class="xx">【64GB限时优惠100元】华为旗下荣耀Play4T手机新品大电池AI摄影</span>
            <div class="text">
                网络类型:4G全网通<br>
                机身颜色:极光蓝<br>
                套餐类型:官方标配<br>
                存储容是:6+128GB
            </div>
            <span class="dj">￥1199</span>
            <div class="sl">
                <div class="jian">-</div>
                <div class="gs">1</div>
                <div class="jia">+</div>
            </div>
            <span class="je">￥2398</span>
            <div class="cz">
                <span class="yrscj">移入收藏夹</span><br>
                <span class="del">删除</span>
            </div>
        </div>     -->
     
    </div>
    <div class="btm w">
        <input type="checkbox" class="all">
        <span>全选</span>
        <span>删除</span>
        <span>移入收藏夹</span>
        <span>分享</span>
        <span>已选商品 <em class="hj">0 </em> 件 合计（不含运费）：<em class="zj">0</em></span>
        <div class="js">结算</div>
    </div>

</body>
<!-- <script>
    a()
</script> -->
</html>